/* Перевтілюйтесь в beauty zone!  section - ABOUT US */
.about-us-section {
  padding-top: 0;

  &__container {
    display: flex;
    gap: 32px;
  }
  &__content {
    margin-top: 40px;
    max-width: 710px;
  }
  &__title {
    text-align: left;
    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 40px;
    }
  }
  &__text {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.17;
    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 40px;
      font-size: 22px;
      line-height: 1.7;
    }
  }
  &__star {
    position: absolute;
    right: 22px;
    fill: var(--Color-brand-dark);
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
