.footer {
  position: relative;
  padding: 32px 0 56px;
  margin: 0;
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: var(--Color-brand-dark);
  @media screen and (min-width: $bp-desktop) {
    padding: 56px 0;
  }
  &::after {
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      right: 0;
      bottom: 0;
      background-image: url("../images/footer-image.png");
      background-repeat: no-repeat;
      width: 247px;
      height: 152px;
      content: "";
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: unset;
      gap: 20px;
    }
  }
  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 42px;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
      margin: 0;
      gap: 20px;
    }
  }
  &__address {
    position: relative;
  }
  &__copyright {
    color: var(--Color-grey);
    font-size: 13px;
  }
  &__info {
    flex-basis: 50%;
    @media screen and (min-width: $bp-tablet) {
      text-align: end;
    }
  }
}
.footer__logo,
.nav-list,
.address-list {
  flex-basis: 50%;
  max-width: 203px;
}

.address-list {
  display: none;
  @media screen and (min-width: $bp-tablet) {
    display: block;
  }
}
