/* header section */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(10px);
  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 100px;
    padding: 24px 0;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
  }
  &__logo {
    flex-grow: 1;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    max-width: 525px;
    gap: 28px 56px;
    justify-content: end;
  }
  &__menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 32px;
    justify-content: right;
  }
}
