.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.7s, visibility 0.7s;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 42px 0;
  margin: auto 20px;
  background-image: url(../images/submit-dorm-background.png);
  background-color: var(--Color-brand-dark);
  border-radius: 48px;
  overflow-y: auto;
  @media screen and (min-width: $bp-tablet) {
    margin: 0;
    padding: 42px 144px;
    height: 100%;
    max-height: 730px;
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
    fill: var(--Color-white);
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: transform 0.5s;
    @media screen and (min-width: $bp-tablet) {
      top: 40px;
      right: 40px;
    }
    &:hover {
      transform: scale(1.3);
    }
  }
  &__header {
    font-family: "Play", sans-serif;
    color: var(--Color-white);
    text-align: center;
  }
  &__form {
    margin: 0 auto;
    max-width: 310px;
    width: 100%;
    max-height: 409px;
    height: 100%;
  }
  &__field {
    margin-bottom: 16px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }
}
