/* Наші процедури section */
.procedures-section {
  @media screen and (min-width: $bp-desktop) {
    padding-top: 68px;
  }
  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }
  &__button {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
  &__list {
    color: var(--Color-white);
    font-size: 22px;
    margin-bottom: 16px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
    }
  }
}
