.form-terms {
  margin: 0 auto;
  max-width: 213px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--Color-grey);
  &__link {
    color: var(--Color-grey);
    text-underline-offset: 2px;
  }
}
